*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
canvas{
    background-color: #000;
    position: absolute;
}


body {
  background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  position: relative;
  margin-bottom: 50%;
}

.glitch {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  20% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  40% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  60% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  80% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.intro{  /*????????????????????????*/
  display: inline-block;
}

.cookies{
	position: absolute;
	background-color: red;
	width: 60%;
	height: 0%; /*increase height to observe changes in cookies container*/
	left: 20%;
	bottom: 30%;
    top: 60%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.video{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 15%;
  top: 8%;
}

.video video{
  width: 70%;
}

.text{
	font-size: 22px;
}

.buttCont{
	display: flex;
}

.button{
	position: absolute;
	background-color: #ffe866;
	width: 15%;
	height: 25%;  /*25% originally*/
	flex: 1;
	font-size: 30px;
	text-align: center;
}

.button div{
	margin-top: 3%;
}

.button div:hover{
    background-color: rgb(79, 0, 0);
}

#accept{
	left: 31%;
    cursor: pointer;
}

#decline{
	right: 33%;
    cursor: pointer;
}

#accept:hover, #decline:hover, #next:hover, #prev:hover, #cross:hover{
	color: #ffe866;
}

#next{
  right: 0;
  margin-top: 25%;
  color: white;
}

#prev{
  left: 0;
  margin-top: 25%;
  color: white;
}

.container{
  position: absolute;
  background-color: red;
  width: 60%;
  height: 0%; /*increase height to observe changes in cookies container*/
  left: 20%;
  bottom: 30%;
  top: 5%; 
}

.pins{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.pins img{
  opacity: 0.6;
}

.pins img:hover{
  border-left: 5px solid #c62d1f;
  border-right: 5px solid #c62d1f;
  border-bottom: 5px solid #c62d1f;
  border-top: 0px;
  border-style: dashed;
  opacity: 1;
}

.gray { 
  filter: grayscale(90%);
}

.pin1{
  flex: 1;
  width: 50%;
}

.pin1 img{
  margin-left: 20%;
  margin-bottom: 10%;
  cursor: pointer;
}

.pin2{
  flex: 1;
  width: 50%;
}

.pin2 img{
  margin-right: 20%;
  margin-bottom: 10%;
  cursor: pointer;
}

.who{
  font-size: 35px;
}

.title1 {
  text-align: center;
  position: relative;
  margin-top: -3%;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 0;
  text-align: center;
  display: none;
}

.title2 {
  position: absolute;
  left: 30%;
  bottom: 30%;
  color: white;
  opacity: 1;
  display: none;
}

#notDhurba{
  left: 28%;
}

#notAlex{
  left: 33.5%;
}

#notKeji{
  left: 35%;
}

#cross{
  position: absolute;
  background-color: #ffe866;
  width: 15%;
  height: 0%;  /*25% originally*/
  font-size: 30px;
  text-align: center;
  left: 65%;
  bottom: 70%;
  color: white;
  cursor: pointer;
}

.cover{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
